<style type ="text/css">
  ul { list-style-type: none; }

  div#container{
    width: 550px;
    margin: 60px auto  40px;
    background-color: #DDDDDD; 
  }
  ul#profiles{
    margin: 0;
    padding: 10px;
  }
  ul#profiles li{
    padding: 10px;
  }
  img {
    width:200px  ;
    height: ;
    max-width: 100%;
    border: 0;
  }
  .paginate {
    width: 550px;
    margin: 60px auto  40px;
  }
</style>
  <div id="container">    
    <div>
      <% if current_user.present? %>
        <ul id="profiles">
          <% @images.each_with_index do |img,index| -%>
          <!-- <li>标题:<%= img.title%></li> -->
          <li><%= image_tag img.src.url %></li> 
          <%end-%>
        </ul>
    </div>         
    <div>
      <% else %>
        <ul>
          <% @images.each_with_index do |img,index| -%>
          <!-- <p>标题：<%= img.title%></p> -->
          <li><%= image_tag img.src.url %></li>
          <%end-%>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="paginate">
    <%= paginate @images %>
  </div>

