<style type ="text/css">
  div { list-style-type: none; }
  div#content{
    width: 1000px;
    margin: 70px 350px ;
    padding: 10px ;
    background-color: #444444; 
  }
  div#showleft{
    width: 500px;
    margin: 30px 0px 10px; 
    background-color: #888888;
    border-style: solid;
  }
  .itme{
    background: none repeat scroll 0 0 #000000;
    border-bottom: 1px solid #1F1F1F;
    height: 160px;
    overflow: hidden;
    padding: 10px;
  }
  .itme_left {
    color: #FFFFFF;
    width: 200px;
    max-width: 100%;
    padding: 30px;
    float: right;
  }
  img {
    width:200px  ;
    margin: 10px;
    max-width: 100%;
    border:medium none;

  }
  .paginate{
    clear: both;;
    background-color: #000000;
    margin: auto ;
    max-width: 100%;
    padding: 20px 0 15px 20px;
  }

</style>
  <div id="content">    
    <div id="showleft">
      <% if current_user.present? %>
        <div class="itmelist">                                       
          <% @images.each_with_index do |img| -%>
            <div class="itme">
              <div class="itme_left">                 
                <a>标题:<%= img.title%></a></div>
                <div><%= link_to image_tag(img.src.url), articles_path(src: img.src) %></div>     
            </div>  
          <%end-%>           
        </div>                        
      <% else %>
        <div class="itmelist">                                       
          <% @images.each_with_index do |img| -%>
            <div class="itme">
              <div class="itme_left">           
                <a>标题:<%= img.title%></a></div>
                <div><%= link_to image_tag(img.src.url), articles_path(src: img.src) %></div> 
              </div>
            </div>  
          <%end-%>              
        </div>
      <% end %>
      <div class="paginate">
        <%= paginate @images %>
      </div> 
    </div>         
  </div>
